body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(black,red);
}

header {
    background-image: radial-gradient(aqua,black);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 45px;
    font-family: fantasy;
    color: white;
}
h3{
    color: white;
}
a{
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

.banner {
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.carousel {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.movie-grid img {
    width: 100%;
    height: auto;
}
